# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/modulo-1-leccion-01-ejercicio-02
/modulo-1-leccion-01-ejercicio-03
/modulo-1-leccion-01-ejercicio-05
/modulo-1-leccion-01-ejercicio-06

/modulo-1-leccion-02-ejercicio-01
/modulo-1-leccion-02-ejercicio-02
/modulo-1-leccion-02-ejercicio-03
/modulo-1-leccion-02-ejercicio-04
/modulo-1-leccion-02-ejercicio-05
/modulo-1-leccion-02-ejercicio-06

/modulo-1-leccion-03-ejercicio-01
/modulo-1-leccion-03-ejercicio-02
/modulo-1-leccion-03-ejercicio-03
/modulo-1-leccion-03-ejercicio-04
/modulo-1-leccion-03-ejercicio-05

/modulo-1-leccion-04-ejercicio-01
/modulo-1-leccion-04-ejercicio-02
/modulo-1-leccion-04-ejercicio-03
/modulo-1-leccion-04-ejercicio-04
/modulo-1-leccion-04-ejercicio-05
/modulo-1-leccion-04-ejercicio-06

/modulo-1-leccion-05-ejercicio-01
/modulo-1-leccion-05-ejercicio-02
/modulo-1-leccion-05-ejercicio-03
/modulo-1-leccion-05-ejercicio-05
/modulo-1-leccion-05-ejercicio-06

/modulo-1-leccion-09-ejercicio-04

/modulo-1-leccion-10-ejercicio-03

/modulo-2-leccion-01-ejercicio-01
/modulo-2-leccion-01-ejercicio-02
/modulo-2-leccion-01-ejercicio-03
/modulo-2-leccion-01-ejercicio-04
/modulo-2-leccion-01-ejercicio-05
/modulo-2-leccion-01-ejercicio-06
/modulo-2-leccion-01-ejercicio-07
/modulo-2-leccion-01-ejercicio-08

/modulo-2-leccion-02-ejercicio-02
/modulo-2-leccion-02-ejercicio-03
/modulo-2-leccion-02-ejercicio-04
/modulo-2-leccion-02-ejercicio-05

/modulo-2-leccion-03-ejercicio-01
/modulo-2-leccion-03-ejercicio-02
/modulo-2-leccion-03-ejercicio-03
/modulo-2-leccion-03-ejercicio-04
/modulo-2-leccion-03-ejercicio-05
/modulo-2-leccion-03-ejercicio-06
/modulo-2-leccion-03-ejercicio-07

/modulo-2-leccion-04-ejercicio-01
/modulo-2-leccion-04-ejercicio-02
/modulo-2-leccion-04-ejercicio-03
/modulo-2-leccion-04-ejercicio-04
/modulo-2-leccion-04-ejercicio-05
/modulo-2-leccion-04-ejercicio-06

/modulo-2-leccion-05-ejercicio-01
/modulo-2-leccion-05-ejercicio-02
/modulo-2-leccion-05-ejercicio-03
/modulo-2-leccion-05-ejercicio-04
/modulo-2-leccion-05-ejercicio-05
/modulo-2-leccion-05-ejercicio-06

/modulo-2-leccion-06-ejercicio-01
/modulo-2-leccion-06-ejercicio-02

/modulo-2-leccion-07-ejercicio-01

/modulo-2-leccion-09-ejercicio-01

/modulo-2-leccion-10-ejercicio-01
/modulo-2-leccion-10-ejercicio-02
/modulo-2-leccion-10-ejercicio-03

/modulo-2-leccion-11-ejercicio-02

/modulo-2-leccion-12-ejercicio-01
/modulo-2-leccion-12-ejercicio-02
/modulo-2-leccion-12-ejercicio-03
/modulo-2-leccion-12-ejercicio-04

/modulo-2-leccion-13-ejercicio-01
/modulo-2-leccion-13-ejercicio-02

/modulo-2-leccion-14-ejercicio-01
/modulo-2-leccion-14-ejercicio-02

/modulo-3-leccion-01-ejercicio-01
/modulo-3-leccion-01-ejercicio-02

